<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<title>Philip Bell</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style1.css">
		<meta property="og:title" content="Philip Bell, Visual Designer"/>
		<meta property="og:image" content="http://philipbell.org/images/siteShot.jpg"/>
	</head>
	<body>

		<div class="left scrollhelper"></div>
		<div class="right scrollhelper"></div>
		<div id="flagContainer"></div>

		<div id="topContact">
			<div class="navItem" id='aboutButton'>Info</div>
			<div class="navItem emailMe" id='email'>Say Hello</div>
			<div class="navItem" id='phone'>(401) 473-8531</div>
			<a href="https://instagram.com/philiphunterbell" target="_blank"><div class="navItem" id='instagram'>Instagram</div></a>
			<a href="https://github.com/processprocess" target="_blank"><div class="navItem" id='github'>github</div></a>
		</div>

		<div id="wrapper">

			<div class="postWrapper">
				<div class="bannerRule"></div>
				<img src="./images/pictooptic/pictooptic-logo.png" class="logoImage" alt="pictooptic"></img>

				<div class="catchLine">Type anything, see everything.</div>
				<div class="subHead">Generative art with The Noun Project API.</div>

				<div class="linkButtons">
					<a class="linkButton" href="http://www.pictooptic.com" target="_blank">Live Demo</a>
					<a class="linkButton" href="http://github.com/processprocess/pictooptic" target="_blank">Git Repo</a>
				</div>

				<div class="card">
					<h3>Technology</h3>
					<ul>
						<li>The Noun Project API</li>
						<li>Node.js</li>
						<li>Express</li>
						<li>Pixi.js</li>
						<li>GreenSock</li>
						<li>Bodymovin</li>
						<li>Typeahead.js</li>
					</ul>
				</div>

				<img class="phoneStack" src="images/pictooptic/iphone-pictooptic2.jpg"></img>

				<div class="catchLine">Pictooptic is simple:</div>
				<div class="subHead">Type a word, and see a composition from icons depicting the word.</div>

				<div class="smallRule"></div>

				<div class="bodyCopy">
					Icons and pictograms have the goal of unifying communication. However, they are subjectively understood and oftentimes have multiple meanings. A symbol meaning "peace" in Buddhism has the opposite meaning in western society.
					<br><br>
					Words can be charged with multiple meanings as well. A search for "palm" within Pictooptic will return a composition of trees, hands and religious icons. Icons strive to communicate directly to the subconscious but are ultimately subjective.
				</div>

				<img src="images/pictooptic/ipad-pictooptic3.jpg"></img>

				<div class="bodyCopy">
					Pictooptic presents icons in a Rorschach-esque reflection. By abstracting icons through reflection we activate free-association within our creative mind. Within a search for "green" we may see the face of a boar emerge from the abstracted pattern. The icons for "green" will include frogs and leaves. It will also include conceptually related icons such as cars and lightbulbs.
					<br><br>
					These layers of abstraction stimulate passive creativity. It's subtly addictive like humming along to your favorite song.
				</div>

				<img src="images/pictooptic/ipad-pictooptic4.jpg"></img>

				<div class="bodyCopy">
					All Icons and data in Pictooptic are sourced from <a href="https://thenounproject.com/" target="_blank">The Noun Project</a>. All icon designers are credited within the information page of each search result. All graphics and code of Pictooptic are in the <a href="https://creativecommons.org/" target="_blank">Creative Commons</a>.
					<br><br>
					<a href="https://www.linkedin.com/pulse/pictooptic-type-anything-see-everything-philip-hunter-bell?trk=v-feed&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_recent_activity_details_all%3B9RmbJwa%2Fv%2BeVrhJkQ2deRQ%3D%3D/" target="_blank">Process info</a>
				</div>

				<div class="ccWrapper">
					<a href="https://creativecommons.org/" target="_blank">
						<img src="images/pictooptic/cc-icon.png"></img>
					</a>
				</div>

			</div>




			<a class="postBox" href="./lazerGlazer.html" style="background: url('../images/lazerGlazer/lazerGlazerPostBox.jpg') no-repeat center; background-size: cover;"> <!--  url is sent to css-->
				<div class="postTitleBox">
					<!-- <p class="postHeader">LazerGlazer</p>
					<p class="subHead">webVr psychadelia</p> -->
				</div>
			</a>







			<!-- <% include projectBanners/lazerGlazerBanner.ejs %> -->

			<div class="description aboutMe">
				<div class="topRule"></div>
				<div class="nameDescription">
					Philip Bell
				</div>
				<div class="title">
					Front-End Developer <br> &amp; Visual Designer
				</div>
				<div class="bodyCopy">

					I blend bold visualization with code to create impactful digital experiences. I have 8+ years of digital design experience and my agency work includes Nike, Moet and Hennessy.
					<br><br>
					I hold a BFA from MICA in Graphic Design and I've enhanced this with workshops and courses including the Design Management class at Parsons and the Web Development Immersive program from General Assembly.
					<br><br>
					This combination of visual design and programming enables me to see projects holistically while building the details. I'm equally a thinker and a maker, with an emphasis on creation to push the needle forward.
					<br><br>
					Do you have an idea to build on?<br>
					Let's build it together.
					<br><br>
					<a class="emailMe">Say Hello</a>

				</div>
			</div>

			<!-- <div class="tick"></div> -->

			<div class="catchLine">Capabilities:</div>

			<div id="cardsWrapper">
				<div class="card" id="dev">
					<div class="iconHolder" name="dev"></div>
					<h3>Web Development</h3>
					<ul>
						<li>JavaScript ES6</li>
						<li>CSS3</li>
						<li>HTML5</li>
						<li>Responsive Mobile Design</li>
					</ul>
				</div>
				<div class="card" id="tech">
					<div class="iconHolder" name="tech"></div>
					<h3>Web Technologies</h3>
					<ul>
						<li>React</li>
						<li>Node.js</li>
						<li>Pixi.js</li>
						<li>A-Frame WebVR</li>
						<li>Three.js</li>
					</ul>
				</div>
				<div class="card" id="motion">
					<div class="iconHolder" name="motion"></div>
					<h3>Motion Design</h3>
					<ul>
						<li>AfterEffects</li>
						<li>CSS Animation</li>
						<li>Web SVG Animation</li>
						<li>Bodymovin</li>
					</ul>
				</div>
				<div class="card" id="digital">
					<div class="iconHolder" name="digital"></div>
					<h3>Digital Design</h3>
					<ul>
						<li>Illustrator</li>
						<li>Photoshop</li>
						<li>InDesign</li>
						<li>Keynote</li>
					</ul>
				</div>
				<div class="card" id="threeD">
					<div class="iconHolder" name="threeD"></div>
					<h3>3D Design</h3>
					<ul>
						<li>Sketchup</li>
						<li>Makerbot</li>
						<li>Rhino</li>
						<li>Paper Engineering</li>
					</ul>
				</div>
			</div>

			<footer>
				<div class="footerLeft emailMe" id='email'>phil@philipbell.org</div>
				<div id='footerRight'>(401) 473-8531</div>
			</footer>

		</div>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-98123752-1', 'auto');
		  ga('send', 'pageview');

		</script>

	</body>
</html>