* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica Neue';
  background: #000;
  color: #B8BBC5;
  transition: .2s;
}

.topRule {
 width: 100%;
 height: 7px;
 background: #B8BBC5;
 margin-bottom: 2em;
}

.smallRule {
  width: 100%;
  height: 1px;
  background: #B8BBC5;
  margin-top: 1.5em;
}

p {
  margin: 0;
}

a,
#lightswitch {
  text-decoration: none;
  color: #B8BBC5;
  transition: .1s;
  cursor: pointer;
}

::selection {
  background:rgb(255, 0, 176);
  color: white;
}
::-moz-selection {
  background: rgb(255, 0, 176);
  color: white;
}

#topContact {
  top: 0em;
  left: 0px;
  right: 0px;
  position: fixed;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  background: black;
  width: 100%;
  z-index: 10;
}

.navItem {
  transition: color .75s, border-bottom .75s;
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 1px solid #B8BBC5;
}
/*.navItem a:hover,*/
.navItem:hover {
  border-bottom: 1px solid rgb(255, 0, 176);
  color: rgb(255, 0, 176);
}

#wrapper {
  margin: 0 auto;
  width: 780px;
  display: flex;
  flex-direction: column;
}

#flagContainer {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: -2em;
  height: 50vw;
  width: 100%;
}

.scrollhelper {
  position: absolute;
  width:10%;
  height:100%;
}

.scrollhelper.left {
  left: 0;
}

.scrollhelper.right {
  right: 0;
}


.fadeOut {
  color: purple;
  opacity: 0;
}

.description {
}

.nameDescription {
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
}

.title {
  font-size: 2em;
  font-weight: 300;
  line-height: 1em;
  margin-top: .25em;
  letter-spacing: .02em;
  opacity: .5;
}

.tick {
  width: 15px;
  height: 5px;
  background: #B8BBC5;
  margin-bottom: 2em;
}

.descriptionCopy{
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: .02em;
}

.skills {
  font-size: 1.75em;
  font-weight: 200;
  margin-bottom: 1.5em;
  letter-spacing: .03em;
}

/*/////////// skills ///////////*/

#skills {
  padding: 1.2em 0 1em 0;
  width: 100%;
}

#cardsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5em;
}

.card {
  width: 50%;
  padding: 0 1em 1em 0;
}

.iconHolder {
  display: inline-block;
  width:3em;
}

.card h3 {
  font-weight: 500;
  letter-spacing: .5px;
  display: inline;
}

.card ul {
  border-top: 1px solid #B8BBC5;
  padding: 1em 0 0 1em;
  margin:.5em 0;
}

.card li {
  padding-bottom: .5em;
  letter-spacing: .75px;
  font-weight: 300;
}

/*/////////// posts ///////////*/

.postWrapper {
  width: 100%;
  /*margin-bottom: 40px;*/
}

.postWrapper img {
  width: 100%;
}

.bannerRule {
  position: relative;
  width: 100%;
  height: 3px;
  background: #B8BBC5;
  position: relative;
  margin-bottom: 5.5em;
  z-index: -1;
}

.logoImage {
  width:100%;
  margin-bottom: 3.5em;
}

.catchLine {
  font-style: italic;
  font-weight: 300;
  letter-spacing: .05em;
  font-size: 1.5em;
  opacity: .5;
}

.subHead {
  font-weight: 300;
  margin-top: .5em;
  letter-spacing: .05em;
  font-size: 1.5em;
  line-height: 1.25em;
}

.linkButtons{
  display:flex;
  margin-top: 2em;
  width: 50%;
}

.linkButton {
  transition: 1s all;
  flex: 1;
  text-align: center;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: .1em;
  padding: .5em .2em;
  margin-right: 1em;
  border: thin #B8BBC5 solid;
  display: inline;
}

.linkButton:last-child {
  margin-right: 0em;
}

.linkButton:hover {
  border: thin rgb(255, 0, 176) solid;
  color: rgb(255, 0, 176);
}

.bodyCopy {
  /*color: white;*/
  padding-bottom: .5em;
  letter-spacing: .09em;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 2em 0;
}

.bodyCopy a {
  border-bottom: 1px solid #B8BBC5;
}

.bodyCopy a:hover {
  border-bottom: 1px solid rgb(255, 0, 176);
  color: rgb(255, 0, 176)
}

.ccWrapper{
  width: 30px;
  margin-top: -1em;
  margin-bottom: 2em;
}

.postWrapper > .card{
  margin-top: 2em;
  padding: 0;
}

.phoneStack {
  position: relative;
  margin-top: -4em;
  margin-bottom: 2em;
  z-index: -1;
}

/*/////////// footer ///////////*/

footer {
  border-top: 1px solid #B8BBC5;
  color: #B8BBC5;
  margin-top: 5em;
  padding: .5em;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerLeft {
  cursor: pointer;
}

/*/////////// copy success ///////////*/

.copySuccess {
  background: rgb(255, 0, 176);
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  padding: 6px;
  line-height: 12px;
  letter-spacing: normal;
  font-weight: 600;
  font-size: 12px;
  z-index: 100;
  pointer-events: none;
  border-radius: 2px;

}

/*/////////// project Box ///////////*/

.postBox {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postTitleBox {
  text-align: center;
}

.postHeader {
  font-weight: 300;
  /*margin-top: .5em;*/
  letter-spacing: .05em;
  font-size: 3em;
  line-height: 1.25em;
}

/*/////////// project Page ///////////*/

#projWrapper {
  margin: 0 auto;
  width: 780px;
}

.projIntroWrapper {
  width:50%;
  /*border: thin white solid;*/
  display:inline-block;
}

.projSketch {
  border: thin white solid;
  display: flex;
  justify-content: center;
  position: relative;
  align-self:flex-end;
  width: 50%;
  height: 100%;
  display: inline-block;
}

.projSketch img {
  /*position: relative;
  align-self:flex-end;*/
  /*width: 40%;*/
  /*display: inline-block;*/
}

.demoBox {
  margin-top: 14px;
  height: 45vw;
  min-height: 400px;
  margin-bottom: 30px;
}

.projTitleBox {
  margin-bottom: 40px;
  display: inline-block;
}

.projHeader {
  font-weight: 300;
  letter-spacing: .05em;
  font-size: 3em;
  line-height: 1.25em;
}

.projSubHead {
  font-weight: 300;
  letter-spacing: .05em;
  font-size: 1.5em;
  line-height: 1.25em;
}

.projLinkButtons {
  display:flex;
  margin-bottom: 40px;
  width: 100%;
}

.projLinkButton {
  transition: .75s all;
  flex: 1;
  text-align: center;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: .1em;
  padding: .5em .2em;
  margin-right: 1em;
  border: thin #B8BBC5 solid;
  display: inline;
}

.projLinkButton:hover {
  border: thin rgb(255, 0, 176) solid;
  color: rgb(255, 0, 176);
}

.projLinkButton:last-child {
  margin-right: 0em;
}

.projFeature {
  letter-spacing: .09em;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.projFeature a {
  transition: color .75s, border-bottom .75s;
  border-bottom: 1px solid black;
}

.projFeature a:hover {
  color: rgb(255, 0, 176);
  border-bottom: 1px solid rgb(255, 0, 176);
}

.projBodyCopy {
 letter-spacing: .09em;
 font-weight: 300;
 font-size: 1.25em;
 line-height: 1.5em;
 margin-bottom: 30px;
}

.projBodyCopy a {
  transition: color .75s, border-bottom .75s;
  border-bottom: 1px solid black;
}

.projBodyCopy a:hover {
  border-bottom: 1px solid rgb(255, 0, 176);
  color: rgb(255, 0, 176)
}

.projImg {
  margin-bottom: 30px;
}

/* --- proj cards --- */

.projCard {
  width: 100%;
  margin-bottom: 20px;
}

.projCard h3 {
  font-weight: 400;
  letter-spacing: .5px;
  display: inline;
}

.projCard ul {
  border-top: 1px solid #B8BBC5;
  padding: .6em 0 0 1em;
  margin:.6em 0;
}

.projCard li {
  padding-bottom: .5em;
  letter-spacing: .75px;
  font-weight: 300;
}

/*/////////// dissable hover on mobile ///////////*/

@media (hover: none) {
  .linkButton:hover,
  .projLinkButtons:hover {
    border: thin #B8BBC5 solid;
    color: #B8BBC5;
  }
  .navItem:hover,
  .bodyCopy a:hover {
    border-bottom: 1px solid #B8BBC5;
    color: #B8BBC5;
  }
}

/*/////////// mobile and small screens ///////////*/

@media (max-width:900px) {
  .nameDescription {
    font-size: 2.5em;
    line-height: 1em;
  }
  #wrapper,
  #projWrapper {
    width: 80%
  }
}

/* mobile portrait */
@media screen and (max-width:650px) {
  #email, #phone {
    display: none;
    pointer-events: none;
  }
  #topContact {
    padding: .5em 0;
  }
  #flagContainer {
    margin-top: 2em;
    margin-bottom: 0em;
  }
  .linkButtons,
  .projLinkButtons {
    width: 100%;
  }
  .card {
    width: 100%;
    padding-bottom: 2em;
  }
  .projIntroWrapper {
    width: 100%;
  }
  .bannerRule {
   margin-bottom: 3em;
  }
  .logoImage {
    margin-bottom: 2em;
  }
  .phoneStack {
    position: relative;
    margin-top: -1em;
    z-index: -1;
  }
  .bodyCopy {
    font-size: 1em;
  }
}

/* mobile landscape */
@media screen and (orientation:landscape) and (max-height:400px) {
  #flagContainer {
    margin-top: -0.3em;
    margin-bottom: -2em;
  }
  .card,
  .projcard {
    width: 100%;
    padding-bottom: 2em;
  }
  .linkButtons,
  .projLinkButtons {
    width: 100%;
  }
  .scrollhelper{
    display:block
  }
}

/*/////////// bodymovin ///////////*/

.botas_loop_3,.botas_loop_2{
  display:none
}