* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica Neue';
  background: #000;
  color: #B8BBC5;
  transition: .2s;
}

.topRule {
 width: 100%;
 height: 7px;
 background: #B8BBC5;
 margin-bottom: 2em;
}

.smallRule {
  width: 100%;
  height: 1px;
  background: #B8BBC5;
  margin-top: 1.5em;
}

p {
  margin: 0;
}

a,
#lightswitch {
  text-decoration: none;
  color: #B8BBC5;
  transition: .1s;
  cursor: pointer;
}

a:active,
a:hover,
a::before,
a::after,
#lightswitch:hover {
  color: rgb(255, 0, 176);
}

::selection {
  background:rgb(255, 0, 176);
  color: white;
}
::-moz-selection {
  background: rgb(255, 0, 176);
  color: white;
}

#topContact {
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  /*border: thin white solid;*/
}

.topItem {
  padding-bottom: .25em;
  border-bottom: 2px solid #B8BBC5;;
}

#wrapper {
  margin: 0 auto;
  width: 780px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

#flagContainer {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: -2em;
  height: 50vw;
  width: 100%;
}

.fadeOut {
  color: purple;
  opacity: 0;
}

.description {
  /*width: 100%;*/
  /*font-weight: 500;
  font-size: 1.8em;
  line-height: 1.4em;
  letter-spacing: .3px;*/
}

.nameDescription {
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
  /*padding: .75em 0;*/
}

.descriptionCopy{
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: .02em;
  /*padding-bottom: 3em;*/
}

.skills {
  font-size: 1.75em;
  font-weight: 200;
  /*line-height: 1em;*/
  /*padding: 1.75em 0;*/
  margin-bottom: 1.5em;
  letter-spacing: .03em;
}

/*/////////// skills ///////////*/

#skills {
  padding: 1.2em 0 1em 0;
  width: 100%;
}

#cardsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 50%;
  padding: 0 1em 1em 0;
}

.iconHolder {
  display: inline-block;
  width:3em;
}

.card h3 {
  font-weight: 500;
  letter-spacing: .5px;
  display: inline;
}

.card ul {
  border-top: 1px solid #B8BBC5;
  padding: 1em 0 0 1em;
  margin:.5em 0;
}

.card li {
  padding-bottom: .5em;
  letter-spacing: .75px;
  font-weight: 300;
}

/*/////////// posts ///////////*/

.postWrapper {
  width: 100%;
  /*margin-bottom: 40px;*/
}

.postWrapper img {
  width: 100%;
}

.bannerRule {
 width: 100%;
 height: 3px;
 background: #B8BBC5;
 position: relative;
 margin-bottom: 5.5em;
}

.logoImage {
  width:100%;
  margin-bottom: 3.5em;
}

.catchLine {
  font-style: italic;
  font-weight: 300;
  letter-spacing: .05em;
  font-size: 1.5em;
  opacity: .5;
}

.subHead {
  font-weight: 300;
  margin-top: .5em;
  letter-spacing: .05em;
  font-size: 1.5em;
  line-height: 1.25em;
}

.links{
  display:flex;
  margin-top: 2em;
  width: 50%;
}

.link {
  flex: 1;
  text-align: center;
  transition: .2s all;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: .1em;
  padding: .5em .2em;
  margin-right: 1em;
  border: thin #B8BBC5 solid;
  display: inline;
}

.link:last-child {
  margin-right: 0em;
}

.link:hover {
  border: thin rgb(255, 0, 176) solid;
  color: rgb(255, 0, 176)
}

.bodyCopy {
  /*color: white;*/
  padding-bottom: .5em;
  letter-spacing: .09em;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 2em 0;
}

.bodyCopy a {
  border-bottom: 1px solid #B8BBC5;
}

.bodyCopy a:hover {
  border-bottom: 1px solid rgb(255, 0, 176);
}

.ccWrapper{
  width: 30px;
  margin-top: -1em;
  margin-bottom: 2em;
}

.postWrapper > .card{
  margin-top: 2em;
  padding: 0;
}

.phoneStack {
  position: relative;
  margin-top: -4em;
  margin-bottom: 2em;
  z-index: -1;
}

/*/////////// footer ///////////*/

footer {
  border-top: 1px solid #B8BBC5;
  color: #B8BBC5;
  margin-top: 4em;
  padding: .5em;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*/////////// media queries ///////////*/

@media (max-width:900px) {
  .nameDescription {
    font-size: 2.5em;
    line-height: 1em;
    /*padding: .75em 0;*/
  }
  #wrapper{
    width: 80%
  }
}

/* mobile portrait */
@media (max-width:650px) {
  #name, #phone, #instagram, #github {
  /*#topContact {*/
    /*display: none;*/
  }
  #topContact {
    /*left:0;*/
    /*position: fixed;*/
    /*display: block;*/
    /*border: thin white solid;*/
    /*justify-content: space-around;*/
  }
  #flagContainer {
    margin-top: 15px;
    margin-bottom: 0;
  }
  .card {
    width: 100%;
    padding-bottom: 2em;
  }
  .bannerRule {
   margin-bottom: 3em;
  }
  .logoImage {
    margin-bottom: 2em;
  }
  .links{
    width: 100%;
  }
  .phoneStack {
    position: relative;
    margin-top: -1em;
    z-index: -1;
  }
  .bodyCopy {
    font-size: 1em;
  }
}

/* mobile landscape */
@media screen and (orientation:landscape) and (max-height:400px) {
  #topContact {
    display: none;
  }
  #flagContainer {
    margin-top: -2em;
    margin-bottom: -2em;
  }
  .card {
    width: 100%;
    padding-bottom: 2em;
  }
  .links{
    width: 100%;
  }
}

/*/////////// bodymovin ///////////*/

.botas_loop_3,.botas_loop_2{
  display:none
}