* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica Neue';
  background: #000;
  color: #B8BBC5;
  transition: .2s;
}

.topRule {
 width: 100%;
 height: 3px;
 background: #B8BBC5;
}

p {
  margin: 0;
}

a,
#lightswitch {
  text-decoration: none;
  color: #B8BBC5;
  transition: .1s;
  cursor: pointer;
}

a:active,
a:hover,
a::before,
a::after,
#lightswitch:hover {
  color: rgb(255, 0, 176);
}

::selection {
  background:rgb(255, 0, 176);
  color: white;
}
::-moz-selection {
  background: rgb(255, 0, 176);
  color: white;
}

#topContact {
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.topItem {
  padding-bottom: .25em;
  border-bottom: 2px solid #B8BBC5;;
}

#wrapper {
  margin: 0 auto;
  width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#flagContainer {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: -2em;
  height: 50vw;
  width: 100%;
}

.nameDescription {
  font-size: 2.25em;
  line-height: 1em;
  padding: .75em 0;
}

.fadeOut {
  color: purple;
  opacity: 0;
}

.description {
  width: 100%;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 1.4em;
  letter-spacing: .3px;
}

.description img {
  width: 100%;
}

/*/////////// skills ///////////*/

#skills {
  padding: 1.2em 0 1em 0;
  width: 100%;
}

#cardsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 50%;
  padding: 0 1em 1em 0;
}

.iconHolder {
  display: inline-block;
  width:3em;
}

.card h3 {
  font-weight: 500;
  letter-spacing: .5px;
  display: inline;
}

.card ul {
  border-top: 1px solid #B8BBC5;
  padding: 1em 0 0 1em;
  margin:.5em 0;
}

.card li {
  padding-bottom: .5em;
  letter-spacing: .75px;
  font-weight: 300;
}

/*/////////// posts ///////////*/

.postWrapper {
  width: 100%;
}

.rule {
 width: 100%;
 height: 3px;
 background: #B8BBC5;
 position: relative;
 margin: 30px 0;
}

/*/////////// footer ///////////*/

footer {
  border-top: 1px solid #B8BBC5;
  color: #B8BBC5;
  margin-top: 4em;
  padding: .5em;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*/////////// media queries ///////////*/

@media (max-width:900px) {
  .nameDescription {
    font-size: 1.75em;
    line-height: 1em;
    padding: .75em 0;
  }
  #wrapper{
    width: 80%
  }
}

/* mobile portrait */
@media (max-width:550px) {
  #topContact {
    display: none;
  }
  #flagContainer {
    margin-top: 15px;
    margin-bottom: 0;
  }
  .card {
    width: 100%;
    padding-bottom: 2em;
  }
}

/* mobile landscape */
@media screen and (orientation:landscape) and (max-height:400px) {
  #topContact {
    display: none;
  }
  #flagContainer {
    margin-top: -2em;
    margin-bottom: -2em;
  }
  .card {
    width: 100%;
    padding-bottom: 2em;
  }
}

/*/////////// bodymovin ///////////*/

.botas_loop_3,.botas_loop_2{
  display:none
}